@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 194 60% 94%;
    --foreground: 224 71% 4%;
    --card: 194 60% 99%;
    --card-foreground: 224 71% 4%;
    --popover: 194 60% 99%;
    --popover-foreground: 224 71% 4%;
    --primary: 197 76% 52%;
    --primary-foreground: 0 0% 100%;
    --secondary: 194 50% 90%;
    --secondary-foreground: 224 71% 4%;
    --muted: 194 50% 90%;
    --muted-foreground: 224 20% 35%;
    --accent: 248 83% 70%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 197 50% 85%;
    --input: 197 50% 90%;
    --ring: 197 76% 52%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    
    --nav-background: 0 72% 51%; /* Red */
    --nav-icon: 60 93% 50%; /* Yellow */
  }
  .dark {
    --background: 220 40% 5%;
    --foreground: 0 0% 98%;
    --card: 220 40% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 220 40% 5%;
    --popover-foreground: 0 0% 98%;
    --primary: 197 76% 52%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 40% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 220 40% 15%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 248 83% 70%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 40% 15%;
    --input: 220 40% 15%;
    --ring: 197 76% 52%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    
    --nav-background: 0 72% 51%; /* Red */
    --nav-icon: 60 93% 50%; /* Yellow */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Hide scrollbar for webkit browsers */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
